PORT=3000 # port where the app is running
JWT_SECRET=your_jwt_secret_key # generate using the instructions in README.md
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public # Prisma database connection string
